<h1>The Library App</h1>
<h2>Listing Rooms</h2>
<% provide(:title, 'All rooms') %>
<ul class="rooms">
  <% @rooms.each do |room| %>
      <li>
        <%= link_to room.number, room %>
      </li>
  <% end %>
</ul>
<br>
<%= link_to "Add a Room", room_add_path %>